 <!-- 头部 -->
 <header>
        <div class="top">
            <div class="logo fl">
                    <a href="/">
                        <span class="ml40"> BK-SHOP </span>
                    </a>
            </div>
            <div class="search fl ml40">
                    <form action="/search" method="post">
                        <div class="text fl">
                            <input type="text" class="input_content" name="search_content" placeholder="&nbsp;&nbsp;请输入您想要的商品...">
                        </div>
                        <div class="submit fl">
                            <button type="submit" class="search_btn" value="搜索"/>
                        </div>
                        <div class="clear"></div>
                    </form>
                    <div class="clear"></div>
            </div> 
            <div class="right fr ">
                    <div class="shopcart fr"><a href="">购物车</a></div>
                    <div class="fr">
                        <ul>
                            <li><a href="javascript:void(0)" id="loginButton" target="_blank">登录</a></li>
                            <li>|</li>
                            <li><a href="" target="_blank" >注册</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </header>